/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: "Lato", sans-serif;
}

/* LAYOUT */

.app {
    height: 100vh;
    width: 100%;
}

.hero {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.sidebar {
    display: none;
    height: 100%;
}

.chat {
    height: 100%;
    width: 100%;
}

.card {
    padding: 10px;
}

.card-body:not(.user .card-body){
    padding: 5px;
    flex-grow: 1;
}
/* SIDEBAR */

.profile {
    background-color: #c6c5c5;
}

.sidebar .row {
    flex-direction: column;
    width: 100%;
}

.user,
.friend {
    width: 100%;
}

.user {
    justify-content: space-between;
    align-items: center;
}

.notify {
    background-color: #8EDAFC;
}

.bell {
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.bell i {
    color: #8EDAFC;
}

.user img,
.friend img {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.friend .name {
    justify-content: space-between;
}

/* DEBUG */

.debug .app {
    border: 1px solid black;
    background-color: #DBDBD3;
}

.debug .hero {
    border: 1px solid blue;
    background-color: white;
} 

.debug .sidebar {
    border: 1px solid red;
    background-color: rgb(214, 103, 103);
}

.debug .chat {
    border: 1px solid purple;
    background-color: rgb(148, 101, 148);
}

.debug .sidebar .row > * {
    border: 1px dashed black;
}

/* MEDIA QUERY */

@media (min-width: 768px) {
    .sidebar {
        display: flex;
        flex-shrink: 0;
        width: 80px;
    }

    .chat {
        flex-grow: 1;
    }

    .card-body,
    .notify,
    .search {
        display: none;
    }
}

@media (min-width: 992px) {
    .app{
        padding: 30px 0px;
    }

    .hero {
        width: 80%;
        margin: 0 auto;
    }

    .sidebar {
        width: 380px;
    }

    .card-body,
    .notify,
    .search {
        display: block;
    }
}